<template>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Stock Management.</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active px-2">
              <router-link to="/home">หน้าหลัก  <span class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item  px-2">
           <router-link to="/products"> รายการสินค้า</router-link>
          </li>
           <li class="nav-item  px-2">
            <a  @click="logout()" class="pointer"> ออกจากระบบ</a>
          </li>
        </ul>
        
      </div>
    </nav>
</template>
<script>
export default {
   methods:{
     logout(){
       localStorage.clear();
        this.$router.push({ name: '/' })
     }
   }
    }
</script>
<style>
nav{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
</style>