<template>
  <div>
    <Head></Head>
      <Loading ref="loading" />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pt-5">Dashboard</h1>
        </div>
        <div class="col-md-4">
          <div class="card card-inverse card-success">
            <router-link to="/products">
              <div class="card-block bg-success p-2">
                <div class="rotate">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <h5 class="text-uppercase text-white" link-to="products">
                  สินค้า
                </h5>
                <h3 class="text-white">{{productItem}} รายการ</h3>
              </div>
            </router-link>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-inverse card-danger">
            <router-link to="/products">
              <div class="card-block bg-danger p-2">
                <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
                </div>
                <h5 class="text-uppercase text-white">คงคลัง</h5>
                <h3 class="text-white">{{stock}} ชิ้น</h3>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>

 
  </div>
</template>
<script>
import Head from "@/js/components/Head";
import ProductService from "@/js/services/ProductService";
import Loading from "@/js/components/Loading";
export default {
  data() {
    return {
      path: window.location.pathname,
      productItem:0,
      stock:0,
    };
  },
  components: {
    Head,
    ProductService,
    Loading,
  },
  methods: {
   async getProduct(){
     this.$refs.loading.loading = true;
      let result = await ProductService.get_product();      
      this.datas = result.data.data;
      this.datas.forEach(el => {
        this.stock += parseInt(el.stock);
        this.productItem++;
        this.$refs.loading.loading = false;
      });
    },
   },
  mounted: function () {
    this.getProduct();
  }
};
</script>
<style>
้ h3,
h5 {
  color: #fff !important;
}
@media screen and (max-width: 48em) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }
  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}
/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */

@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }
  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
  overflow: hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}
</style>