<template>
  <div id="Loading">
    <div class="loading" v-if="loading">
    
      <div class="w-100 text-center">
        <i
          class="fa fa-refresh fa-spin"
          style="font-size: 24px; color: #000"
        ></i> Loading...
      </div>  <div class="modal__backdrop" />
    </div>
  </div>
</template>


<script>
export default {
  name: "Loading",
  data() {
    return {
      loading: false,
    };
  },
  methods: {},
  mounted: function () {},
};
</script>
<style lang="scss" scoped>
.modal,.loading {
  position: fixed;
 
  right: 10px;
  bottom: 10px;
 
  z-index: 9;
  overflow-x: hidden;
  overflow-y: auto;
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: rgba(255,255, 255, 0.5);*/
    z-index: 1;
  }
}
</style>