<template>
<div class="pt-5">
   <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="https://www.b-cube.in/wp-content/uploads/2014/05/aditya-300x177.jpg" id="icon" alt="User Icon" /> -->
      <h1 class="py-2">login</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" v-model="username" class="fadeIn second" name="login" placeholder="username">
      <input type="password" id="password"  v-model="password" class="fadeIn third" name="login" placeholder="password">
      <button type="button" class="fadeIn fourth" @click="login()" v-html="text_bt" ></button>
      <div class="text-danger" v-if="alert" v-html='alert'></div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div>

  </div>
</div>
</div>
   
</template>
<script>
import LoginService from '@/js/services/LoginService'

export default {
     
     data(){
         return{
             username:'',
             password:'',
             alert:'',
             text_bt:'Login'
         }
        },
    
    methods :{
        async login() {
          this.alert = '';
            let form = new FormData();
            form.append('email', this.username)
            form.append('password',this.password)     
            this.text_bt = '<i class="fa fa-refresh fa-spin text-white" style="font-size:18px"></i>';     
            let result = await LoginService.login(form);
           // console.log(result.data.data);
            // set token // 
              if(result.data.status==1){
                localStorage.setItem('token',result.data.data.api_token);
                localStorage.setItem('id',result.data.data.id);
                localStorage.setItem('name',result.data.data.name);
                this.$router.push({ name: 'Home' })
              }else{
                if(result.data.message) this.alert = result.data.message;
                if(result.data.email )this.alert += '<br>'+result.data.email;
                 if(result.data.password )this.alert += '<br>'+result.data.password;
              }
              this.text_bt = 'Login';
            }
        
        }
}
</script>
