<template>
  <div id="product">
    <Head></Head>
    <Loading ref="loading" />
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-8">
          <h1>รายการสินค้า</h1>
        </div>
        <div class="col-md-4 text-right">
          <a @click="Clear()" class="btn btn-primary potiner"
            >+ เพิ่มสินค้า</a
          >
        </div>
      </div>
      <!-- product list -->
      <div class="py-4">
        <table class="table" id="protable">
          <thead>
            <!-- <slot name="thead" /> -->

            <tr>
              <th v-for="(item, index) in title" :key="index">{{ item }}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <slot name="tbody" /> -->

            <tr v-for="(data, index2) in datas" :key="index2">
              <td v-for="(item, index) in data" :key="index">
                <span v-if="index != 'id'">{{ data[index] }}</span>
                <span v-if="index == 'id'">{{ index2 + 1 }}</span>
                <span v-if="index == 'stock'">
                  </span>
                <!-- <span v-if="index == ''"
                  ><i class="fa fa-eye pointer"></i
                ></span> -->
              </td>
              <!-- <td><i class="fa fa-eye" aria-hidden="true"></i></td> -->
              <td>
                <i class="fa fa-edit pointer" v-on:click="LoadEdit(data['id'])"></i>&nbsp;&nbsp;
                <i class="fa fa-trash-o pointer" v-on:click="Delete(data['id'])"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <Modal ref="modalpro">
      <template v-slot:header>
        <h2>เพิ่มสินค้า</h2>
      </template>

      <template v-slot:body>
        <div>ชื่อสินค้า</div>
        <div>
          <input
            type="text"
            v-model="name"
            class="form-control text-left border"
          />
          <span class="text-danger" v-if="!name">* กรุณาระบุ</span>
        </div>
        <div>หน่วยนับ</div>
        <div>
          <input
            type="text"
            v-model="unit"
            class="form-control text-left border"
          />
          <span class="text-danger" v-if="!unit">* กรุณาระบุ</span>
        </div>
        <div>ราคา</div>
        <div>
          <input
            type="number"
            v-model="price"
            class="form-control text-left border"
          />
          
        </div>
        <div>สต๊อกสินค้า</div>
        <div>
          <input
            type="number"
            v-model="stock"
            class="form-control text-left border"
          />
         
        </div>
      </template>

      <template v-slot:footer>
        <div>
          <input type="hidden" v-model="id"/>
          <button v-if="id==0" @click="add_pro()" v-html="text_bt"></button>
          <button v-if="id>0" @click="update_pro()" v-html="text_bt"></button>
        </div>
      </template>
    </Modal>
  </div>
</template>
<script>
import Head from "@/js/components/Head";
import Modal from "@/js/components/Modal";
import Loading from "@/js/components/Loading";
import ProductService from "@/js/services/ProductService";

export default {
  name: "product",
  components: {
    Head,
    Modal,
    Loading,
    ProductService,
  },
  data() {
    return {
      path: window.location.pathname,
      text_bt: "บันทึกข้อมูล",
      error_name: '<span class="text-danger">*</span>',
      error_stock: '<span class="text-danger">*</span>',
      error_unit: '<span class="text-danger">*</span>',
      error_price: '<span class="text-danger">*</span>',
      page: 1,
      pageAll: 1,
      limit: 20,
      textSearch: "",
      title: [],
      datas: [],
      name: "",
      unit: "เครื่อง",
      price: "0",
      stock: "0",
      id:0,
    };
  },
  methods: {
    Clear(){
      this.name="";
      this.unit= "",
      this.price= "0";
      this.stock= "0";
      this.id=0;
      this.LoadModal();
    },
    async add_pro() {
      
      if (this.name!="" && this.unit!="" ) {
      let form = new FormData();
        form.append("name", this.name);
      form.append("unit", this.unit);
      form.append("price", this.price);
      form.append("stock", this.stock);

        this.text_bt =
          '<i class="fa fa-refresh fa-spin text-white" style="font-size:18px"></i>';
        let result = await ProductService.create_product(form);
       // console.log(result.data.data);
        // set token //

        if (result.data.status == 1) {
          this.LoadProduct();
          this.$refs.modalpro.closeModal();
        }
      }
      this.text_bt = "บันทึกข้อมูล";

      // this.$refs.modalpro.closeModal();
    },
     async update_pro() {
        if (this.name!="" && this.unit!="" ) {
      let form = new FormData();
      form.append("id", this.id);
      form.append("name", this.name);
      form.append("unit", this.unit);
      form.append("price", this.price);
      form.append("stock", this.stock);

        this.text_bt =
          '<i class="fa fa-refresh fa-spin text-white" style="font-size:18px"></i>';
        let result = await ProductService.update_product(form);
       if (result.data.status == 1) {
          this.LoadProduct();
          this.$refs.modalpro.closeModal();
        }
      }
      this.text_bt = "แก้ไขข้อมูล";
     },
    async LoadProduct() {
      this.$refs.loading.loading = true;
      let result = await ProductService.get_product();
      //  DataTable.datas = JSON.parse(result);
      // this.datas = result.data.data;
      this.datas = result.data.data;
      this.$refs.loading.loading = false;
      setTimeout(function () {
        $("#protable").DataTable();
      }, 1000);
      //console.log(result);
    },
    async Delete(id) {

      if(confirm('ต้องการลบข้อมูล ?')){
        let form = new FormData();
        form.append("id",id);
         let result = await ProductService.delete_product(form);
         if (result.data.status == 1) {
          this.LoadProduct();
          //this.$refs.modalpro.closeModal();
        }
      }
    },
    async LoadEdit(id){
       let result = await ProductService.get_product_id(id);
         if (result.data.status == 1) {
           console.log(result.data.data[0]);
             this.text_bt = "แก้ไขข้อมูล";
            this.id = result.data.data[0].id;
           this.name = result.data.data[0].name;
           this.unit = result.data.data[0].unit;
           this.price = result.data.data[0].price;
           this.stock = result.data.data[0].stock;
           this.LoadModal();
         }
       
    },
    LoadModal(){
        this.$refs.modalpro.openModal()
    }
  },
  mounted: function () {
    this.title = ["Id", "ชื่อสินค้า", "ราคา", "สต๊อก", "แก้ไข/ลบ"];
    //this.$refs.datapro.title = ["Id", "ชื่อสินค้า", "ราคา", "สต๊อก", "Logs", "แก้ไข/ลบ"];
    // this.fields = ["id", "name", "price", "stock", "", ""];
    this.LoadProduct();
  },
  created: function () {},
};
//$(document).ready(function (e) {
// setTimeout(function() { $("#protable").DataTable(); }, 1000);
//})
</script>